body {
  background-color: #000;
  color: white;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: 'Ubuntu Mono', monospace;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.3rem;
}

.brand {
  text-shadow: 2px 2px 5px #bada55;

}

.create-channel-input {
  padding: 1rem;
  width: 20rem;;
  height: auto;
  background-color: lightgray;
  margin: 1rem 0;
  color: black;
}

.welcome {
  color: #bada55
}

.error, .not-found {
  color: red;
  font-size: 1.5rem;
}

.channel-list {
  margin: 0;
}

.channel-item {
  /* width: 10rem; */
  height: 2rem;
  line-height: 2rem;
  /* padding-left: 1rem; */
  background-color: lightgray;
  color: black;
  border: 1px solid white;
  list-style-type: none;
  padding-left: 20px;
}

.channel-item:hover {
  cursor: pointer;
  background-color: rgb(240 255 240);
}

.message-list {
  display: block;
  border: 1px solid limegreen;
  /* width: 200px; */
  height: auto;
  background-color: lightgreen
}

.channel-message-grid {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 10rem auto;
  width: 70%;
 
  /* margin: 0 auto; */
}

.channel-list {
  padding: 0;
  background-color: black;
  height: 300px;
  overflow-y: scroll;
}
.message-list {
  /* width: 100%; */
  padding: 0;
  background-color: white;
  color: black;
  height: 300px;
  overflow-y: scroll;
}

.message-list h2 {
  color: black;
  padding: .5rem 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
 
}