<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='channel.js') }}"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <title>Flack</title>
</head>

<body>
    <h1>Welcome to <span class="brand">Flack</span> <span id="show-display-name" class="welcome"></span></h1>
    <section id="display-name">
        <p>Create a display name</p>
        <form id="displayname-form">
            <p>
                <label>Display Name:</label>
                <input type="text" id="displayname" placeholder="Enter display name">
            </p>
            <p>
                <button type="submit" id="create-display-name-btn">Create Display Name</button>
            </p>
        </form>
    </section>
    <section>
        <p id="create-display-error" class="error">No error</p>
    </section>
    <section id="channels">
        <p class="not-found" id="channels-not-found">No channels found. You can create a channel.</p>
        <div class="create-channel-input">
            <h3 class="create-a-channel-message">Create a channel</h3>
            <form id="create-channel">
                <p>
                    <label for="new-channel-input">Channel Name</label>
                    <input type="text" id="new-channel-input">
                </p>
                <p>
                    <button type="submit" id="create-channel-btn">Create Channel</button>
                </p>
            </form>
        </div>
        <div id="select-channel">
            <p class="select-a-channel-message">Select a channel</p>
            <div class="channel-message-grid">
                <ul class="channel-list"></ul>
                <div class="message-list">
                    <h2></h2>
                </div>
            </div>
        </div>
    </section>

</body>

</html>